nz-layout {
  nz-header {
    a {
      border: none;
    }
  }
}


.btnMenu{
  border-color:#1890ff;
  background: #1890ff;
  margin-left: 15px;
}



   .menu_item{
     display:block;
     border:none;
     text-align: left;
     margin: 10px 0;
   }
 