<mat-toolbar color="primary" style="position: fixed; display: flex; justify-content: center; z-index: 1000;">
  <div style="max-width: 1348px; width: 100%; display: flex;">
    <span class="primary-light-color">softlibrary</span>
    <span style="flex: 1 1 auto;"></span>
    <button mat-button color="primary">Projects</button>
    <button mat-button color="primary">Blog</button>
    <button mat-button color="primary">Forum</button>
    <a href="https://github.com/softlibrary" target="_blank" mat-button color="primary">Github</a>
  </div>
</mat-toolbar>